.photo-grid{
  width: 1184px;
  max-width: 100%;
  margin: auto;
  margin-top: 118px;
}

.photo-grid__images{
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.photo-grid__style{
  width: 284px;
  max-width: 25%;
  object-fit: cover;
  height: 213px;
  gap: 16px;
}

